.state-machine-list-btn:hover,
.state-machines-btn:hover,
.state-machine-execution-list-btn:hover,
.state-machine-executions-btn:hover,
.state-machine-execution-list-next-btn:hover {
    cursor: pointer !important;
    color: #FFF !important;
}

a {
    text-decoration: none;
}

a:focus,
a:active {
    outline: none;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container a {
    margin: 0 10px;
    user-select: none;
}

.pagination-container a[disabled] {
    color: gray;
    pointer-events: none;
    cursor: default !important;
}
