/*!
 * Copyright 2019 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Custom theming applied on top of existing styles.
 * Adds additional styles for when user has dark/light/high-contrast themes.
 * Fixes height issue in vscode webview iframe. 
 */

/*  
 * General
 */

:root {
    --btnDarkOutlineColor: #c5c5c5;
    --btnDarkIconColor: #888;
    --btnLightOutlineColor: #b8b8b8;
    --btnLightIconColor: #616161;
}

/* Sizing CSS */
html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
}

#svgcontainer {
    flex-grow: 1;
    padding: 0px;
}

/* Theming CSS Below */
body {
    background-color: var(--vscode-editor-background);
    display: flex;
    align-items: stretch;
    justify-content: center;
}

/* 
 * Dark Theme Styles
 */

body.vscode-dark .path {
    stroke: #d3d3d3;
    background-color: #d3d3d3;
}

body.vscode-dark path {
    stroke: #d3d3d3;
}

body.vscode-dark .node > .shape {
    fill: var(--vscode-editor-background);
    stroke: #d3d3d3;
}

body.vscode-dark .node.anchor > .shape {
    fill: #808080;
}

body.vscode-dark .label {
    fill: #ffffff;
}

body.vscode-dark marker {
    fill: #d3d3d3;
}

/*
 * High Contrast Theme Styles
 */

body.vscode-high-contrast .path {
    stroke: var(--vscode-contrastActiveBorder);
    background-color: var(--vscode-contrastActiveBorder);
}

body.vscode-high-contrast path {
    stroke: var(--vscode-contrastActiveBorder);
}

body.vscode-high-contrast .node.anchor > .shape {
    fill: var(--vscode-contrastActiveBorder);
}

body.vscode-high-contrast marker {
    fill: var(--vscode-contrastActiveBorder);
}

.status-info {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    padding: 10px;
    align-items: center;
    background-color: var(--vscode-editor-background);
    border: 1px solid #c9c9c9;
    color: #7b7b7b;
}

body .status-info.start-error-asl {
    display: inline-block;
    border: 1px solid #da6363;
    color: #da6363;
    padding: 10px;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.status-info.start-error-asl svg,
.status-info.start-error-asl + .graph-buttons-container {
    display: none;
}

.vscode-dark .status-info {
    border: 1px solid #6c6c6c;
    color: #949494;
}

.vscode-high-contrast .status-info {
    border: 1px solid var(--vscode-contrastActiveBorder);
    color: var(--vscode-contrastActiveBorder);
}

.status-messages span {
    display: none;
    white-space: nowrap;
    line-height: 1;
}

.status-info svg {
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

.in-sync-asl .status-messages .previewing-asl-message {
    display: inline-block;
}

.syncing-asl .status-messages .rendering-asl-message {
    display: inline-block;
}

.not-in-sync-asl .status-messages .error-asl-message,
.start-error-asl .status-messages .error-asl-message {
    display: inline-block;
}

.vscode-dark .in-sync-asl svg circle {
    fill: #46a52c;
}

.vscode-dark .syncing-asl svg circle {
    fill: #888;
}

.vscode-dark .not-in-sync-asl svg circle {
    fill: #f37f6a;
}

.in-sync-asl svg circle {
    stroke: #004d00;
    fill: #a5d099;
}

.syncing-asl svg circle {
    stroke: #333;
    fill: #d8d8d8;
}

.not-in-sync-asl svg circle {
    stroke: #660000;
    fill: #f2ada0;
}

a {
    cursor: pointer;
}

.graph-buttons-container {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.graph-buttons-container button {
    background-color: var(--vscode-editor-background);
    border: 1px solid var(--btnLightOutlineColor);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    width: 38px;
    height: 30px;
    margin-bottom: 10px;
}

#center svg circle:nth-child(2) {
    fill: var(--btnLightIconColor);
}

.vscode-dark #center svg circle:nth-child(2) {
    fill: var(--btnLightIconColor);
}

.graph-buttons-container button svg {
    width: 14px;
    height: 14px;
    stroke-width: 2px;
}

.graph-buttons-container button:active {
    opacity: 0.7;
}

.vscode-high-contrast .graph-buttons-container button {
    border: 1px solid white;
}

.vscode-dark .graph-buttons-container button {
    border: 1px solid var(--btnDarkOutlineColor);
}

.graph-buttons-container button line,
.graph-buttons-container button circle {
    stroke: var(--btnLightIconColor);
    fill: transparent;
}

.graph-buttons-container button circle:nth-child(2) {
    fill: var(--btnLightIconColor);
}

.vscode-high-contrast .graph-buttons-container button line,
.vscode-high-contrast .graph-buttons-container button circle {
    stroke: white;
}

.vscode-dark .graph-buttons-container button line,
.vscode-dark .graph-buttons-container button circle {
    stroke: var(--btnDarkIconColor);
}

.vscode-high-contrast .graph-buttons-container button circle:nth-child(2) {
    fill: var(--btnDarkIconColor);
}

.graph-buttons-container button:focus {
    outline: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    color:#000000;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-input {
    width: 45%;
}

.modal-input h2 {
    margin-top: 0;
}

.modal-input pre {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
    max-height: 300px;
}

.modal-close {
    height: 30px;
    width: 30px;
    background-color: #d8d8d8;
    border-radius: 5px;
    position: relative;
}

.modal-close:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\d7";
    font-size: 15px; 
    color: #000000;
    line-height: 30px;
    text-align: center;
}

.modal-close:hover,
.modal-close:focus {
    color: rgb(49, 45, 45);
    cursor: pointer;
}
